@import url("./styles/Component.scss");
@import url("./styles/miniComponent.scss");

#mainHeading {
    font-weight: 500;
    font-size: 50px;
}

#update {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E1E4E6;
    border-bottom: 1px solid #E1E4E6;
    color: #4B5665;
    font-size: 14px;
}

#update img {
    width: 20px;
    padding: 0px 10px;
}

#update div {
    display: flex;
}

#breadcrumb {
    color: #5C6874;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}

.featured {
    font-size: 32px;
    font-weight: 400;
    color: #2C384A;
    padding-top: 20px;

}

#featuredProducts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
    align-content: space-evenly;
    justify-items: center;
}

// Sign up Container 
#signupContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#signupContainer h2 {
    color: #5C6874;
    font-size: 32px;
    width: 500px;
    margin-bottom: 50px;
}


#signup {
    all: unset;
    display: flex;
}

#signup input {
    all: unset;
    border-radius: 12px 0px 0px 12px;
    height: 44px;
    border: 1px solid rgb(207, 207, 207);
    padding-left: 10px;
}

#signup button {
    all: unset;
    border-radius: 0px 12px 12px 0px;
    color: white;
    height: 25px;
    background: #1B88F4;
    font-size: 10px;
    padding: 10px 20px;
}

#specialHighlight {
    border-radius: 15px;
    background: #FFF4ED;
    padding: 10px;
}

#specialHighlight p img {
    width: 25px;
}

#specialHighlight .discountTag {
    color: #1B88F4;
}


.sort {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
}

.sort span {
    padding: 0px 5px;
}


